# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Flask
instance/
.webassets-cache
flask_session/

# Debug logs
backend/debug*.txt
backend/logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/